<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- links-->
    {% block links %}
    <link rel="icon" type="image/png" href="{{url_for('.static',filename='img/favicon.png')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('.static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('.static',filename='css/flat-ui.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('.static',filename='css/main.css')}}">
    {% endblock %}
</head>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
{% endwith %}
    <div class="container-fluid">
        <div class="row" id="header">
            {% block header %}{% endblock %}
        </div>
        <div class="row" id="section">
            {% block section %}
            {% endblock %}
        </div>
        <div class="row" id="footer">
            {% block footer %}{% endblock %}
        </div>
    </div>

    <!--scripts-->
    <script src="{{url_for('.static',filename='js/jquery.js')}}"></script>
    <script src="{{url_for('.static',filename='js/bootstrap.min.js')}}"></script>

</body>
</html>