body,html{
    min-height:100vh;
    max-height:100vh;
    min-width:100vh;
    overflow-x:hidden;
}
#header{
    min-height:15vh;
    height:15vh;
    background:rgba(0, 77, 64,0.7);
}
#welcome-text{
    padding-top:10vh;
}
.topbar{
    padding:3vh;
    color:#fff;
}
.topbar ul,li{
    display:inline;
    padding-left:2vh;
}
.topbar a{
    text-decorator:none;
    color:#fff;}
.blog_list{
    height:35vh;
    overflow-y:scroll;
}
.content{
    padding:2vh;
}
.blog-list{
    margin-top:.5vh;
    border: .1vh solid #000;
    min-height:60vh;
    max-height:60vh;
    overflow-y:scroll;
}
#section{
    min-height:70vh;
    height:70vh;
}
    #welcome-text{
        height:50vh;
    }
    #mybuttons form{
        display:inline-block;
    }
#footer{
    min-height:15vh;
    height:15vh;
    background:rgba(0, 77, 64,0.7);
}