{% extends "layouts/base.html" %}
{% block title %}
    Dashboard {{username}}
{% endblock %}
    {% block header %}
        <div class="container-fluid">
            <div class ="row">
                <div class="col-sm-6">
                    <h4 style="color:#fff;">WebExpert-CMS</h4>
                </div>
                <div class="col-sm-6 text-right topbar">
                    <ul>
                        <li><span class="glyphicon glyphicon-log-out"><a href="{{ url_for('logout') }}">&nbsp;SignOut</a></span></li>
                    </ul>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block section %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 text-left" style="padding-top:1vh;">
                   <b><em>Welcome <span style ="color:red;">{{username}}</span></em></b>
                </div>
                <div class="col-sm-8 text-right">
                     <div id="mybuttons"style="padding-top:2vh;">
                        <form action="{{ url_for('profile', username = username) }}">
                                <input type="submit" class="btn btn-primary" value="Edit Profile" />
                        </form>
                        <form action="{{url_for('add_blog',username=username)}}">
                                <input type="submit" class="btn btn-primary" value="Add Blog" />
                        </form>
                    </div>
                </div>
            </div>
                <div class = 'col-sm-12 text-left blog-list' style="color:#111;">
                        <br>
                    {% for i in user_blogs %}
                        <div class="row">
                            <div class="col-sm-10">
                              <b>{{ i['Title'] }}</b>
                            </div>
                            <div class="col-sm-2">
                               <a href>Edit Blog</a>&nbsp;
                               <a href="">Delete Blog</a>
                            </div>
                        </div>
                        <br>
                    {% endfor %}
                </div>
        </div>
    {% endblock %}
    {% block footer %}{% endblock %}