{% extends "layouts/base.html" %}
{% block title %}
    WebExpert-CMS
{% endblock %}


    {% block header %}
        <h5 style="color:#fff;padding-left:2vh;">WebExpert</h5>
    {% endblock %}
    {% block section %}
        <div id='welcome-text'class="col-sm-12 text-center">
                <b>
                    <p>Welcome to WebExpert. We believe that the writing of blogs should be easy.</p>
                    <p>To create a  blog, simply create an account, select a title and add content for your blog </p>
                    <p>Simple....Right? Kindly share with your friends.</p>
                </b>
          </div>
        <div id="mybuttons" class="col-sm-12 text-center">
            <form action="{{url_for('register')}}">
                <input type="submit" class="btn btn-primary" value="Create Account" />
            </form>
            <form action="{{url_for('login')}}">
                <input type="submit" class="btn btn-primary" value="Site Login" />
            </form>
        </div>
    {% endblock %}
    {% block footer %}
        <h5 style="color:#fff;padding-left:2vh;">&copy; Copyright 2016</h5>
    {% endblock %}

